:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.mat-cell {
  padding-right: 10px;
}

.mat-column-version, .mat-column-delete {
  text-align: right;
  width: 10px;
}

.mat-column-application {
  cursor: pointer;
}
