<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<root level="ERROR">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="org.springframework" level="ERROR"/>
	<logger name="za.co.lsd.ahoy" level="DEBUG"/>
	<!--	<logger name="org.apache.http" level="DEBUG"/>-->
	<!--	<logger name="reactor.netty.http.client" level="DEBUG"/>-->
	<!--	<logger name="org.springframework.web.reactive" level="DEBUG"/>-->

</configuration>
