/* You can add global styles to this file, and also import other style files */
@import "theme";

.detail-area > mat-form-field,
.form-area > mat-form-field {
  width: 350px;
}

.text-area-settings.mat-input-element {
  font-size: 14px;
}

.mat-dialog-content {
  min-width: 300px;
}

.sub-title {
  margin-top: 16px;
}

.status-success {
  font-weight: bold;
  color: mat-color($app-status-success, text);
}

.status-warn {
  font-weight: bold;
  color: mat-color($app-status-warn, text);
}

.status-error {
  font-weight: bold;
  color: mat-color($app-status-error, text);
}

.app-icon-link {
  color: mat-color($app-accent, text);
  text-decoration: none;
}
