@import 'src/theme';

.app-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0
}

.app-toolbar {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2
}

.title {
  cursor: pointer;
}

.nav-active {
  background: mat-color($app-background);
}
