<div class="app-container" fxFlex fxLayout="column">

  <mat-toolbar class="app-toolbar mat-elevation-z6" color="primary">
    <span class="title" routerLink="/dashboard">{{title}}</span>
    <div fxFlex fxLayoutAlign="end">

      <app-notifications></app-notifications>

      <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/settings">Settings</button>
      </mat-menu>

    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFill>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list-item routerLink="/releases" [routerLinkActive]="['nav-active']">Releases</mat-list-item>
        <mat-list-item routerLink="/environments" [routerLinkActive]="['nav-active']">Environments</mat-list-item>
        <mat-list-item routerLink="/applications" [routerLinkActive]="['nav-active']">Applications</mat-list-item>
        <mat-list-item routerLink="/clusters" [routerLinkActive]="['nav-active']">Clusters</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div fxFlex fxLayout="column">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
