<h1 mat-dialog-title>{{confirmation.title}}</h1>

<form #confirmationForm="ngForm">
  <mat-dialog-content class="mat-body-1">
    <div *ngIf="!confirmation.requiresInput" fxLayout="column">
      {{confirmation.message}}
    </div>

    <div *ngIf="confirmation.requiresInput" fxLayout="column">
      <mat-form-field>
        <mat-label>{{confirmation.message}}</mat-label>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="20" name="input" [(ngModel)]="confirmation.input"
                  required></textarea>
      </mat-form-field>
    </div>

    <div *ngIf="confirmation.verify" fxLayout="column">
      <mat-form-field>
        <input matInput [(ngModel)]="confirmation.enteredVerifyText" name="verifyText" required [appVerifyText]="confirmation.verifyText">
        <mat-hint>enter <b>{{confirmation.verifyText}}</b> to confirm</mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>
</form>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="confirmation" [disabled]="confirmationForm.invalid">Confirm</button>
</mat-dialog-actions>
